/* Admin Dashboard */

* {
    margin: 0;
    padding: 0;
}

.dashboard {
    background-color: rgb(69, 144, 206);
    grid-area: dash;
    padding: 0 15px;
}

.searchBar {
    grid-area: search;
}

.heroBar {
    grid-area: hero;
}

.display {
    grid-area: main;
}

button {
    background-color: rgb(69, 144, 206);
}
.display {
    background-color: rgb(227, 232, 239);
}

input[type="search"] {
    background-color: rgb(227, 232, 239);
}


body {
    display: grid;
    grid-template-areas: 
        "dash search"
        "dash hero"
        "dash main";
    grid-template-columns: 1fr 6fr;
}