/* Admin Dashboard */


* {
    margin: 0;
    padding: 0;
}
svg {
    width: 24px;
    height: 24px;
}
.profile > svg {
    border-radius: 50%;
    width: 36px;
    height: auto;
}

.heroProfile > svg {
    border-radius: 50%;
    width: 48px;
    height: auto;
}

#nav1 svg {
    width: 24px;
    height: 24px;
    fill: white;
}
#nav2 svg {
    width: 24px;
    height: 24px;
    fill: white;
}
#dashicon > svg {
    width: 36px;
    height: 36px;
    fill: white;
}
.dashboard {
    display: grid;
    background-color: #1992d4;
    grid-area: dash;
    padding: 15px;
    row-gap: 30px;
    grid-template-rows: min-content min-content;
    color: white;
}
.dashicon {
    grid-area: icon;
}
h1 {
    grid-area: text;
}

.dashtitle {
    display: grid;
    grid-template-areas: "icon text";
    grid-template-columns: 48px 1fr;
    grid-template-rows: 50px;
}
#nav1 {
    display: grid;
    grid-template-areas: 
        "homeicon hometext"
        "profileicon profiletext"
        "messageicon messagetext"
        "historyicon historytext"
        "taskicon tasktext"
        "communityicon communitytext";
    grid-template-columns: 48px 1fr;
    align-items: center;
    align-content: start;
    row-gap: 10px;
}
.homeicon {
    grid-area: homeicon;
}
.homet {
    grid-area: hometext;
}
.profileicon {
    grid-area: profileicon;
}
.profilet {
    grid-area: profiletext;
}
.messagesicon {
    grid-area: messageicon;
}
.messagest {
    grid-area: messagetext;
}
.historyicon {
    grid-area: historyicon;
}
.historyt {
    grid-area: historytext;
}
.taskicon {
    grid-area: taskicon;
}
.taskt {
    grid-area: tasktext;
}
.communityicon {
    grid-area: communityicon;
}
.communityt {
    grid-area: communitytext;
}

#nav2 {
    display: grid;
    grid-template-areas: 
        "settingsicon settingstext"
        "suppourticon suppourttext"
        "privacyicon privacytext";
    grid-template-columns: 48px 1fr;
    align-items: center;
    align-content: start;
    row-gap: 10px;
}
.settingicon {
    grid-area: settingsicon;
}
.Settingstext{
    grid-area: settingstext;
}
.suppourticon {
    grid-area: suppourticon;
}
.Supporttext {
    grid-area: suppourttext;
}
.privacyicon {
    grid-area: privacyicon;
}
.Privacytext {
    grid-area: privacytext;
}



.searchBar {
    grid-area: search;
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: min-content 4fr 1fr min-content max-content max-content;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 0;
    gap: 10px;
    grid-template-areas: 
        "icon field . bell pic name";
}

.searchicon {
    grid-area: icon;
}
#search {
    grid-area: field;
}
.notification {
    grid-area: bell;
}
.profile {
    grid-area: pic;
}
.name {
    grid-area: name;
}


.heroBar {
    grid-area: hero;
    display: grid;
    grid-template-columns: auto 4fr auto;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    align-items: center;
}
.hero {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.create {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    align-items: center;
    align-content: center;
}

button {
    background-color: #1992d4;
    width: 100px;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 50px;
    height: 36px;
}
.display {
    grid-area: main;
    background-color: rgb(227, 232, 239);
    display: grid;
    grid-template-areas: 
        "project announcements"
        "project trending";
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-area: project;
}
.card {
    width: 250px;
    height: fit-content;
    padding: 25px;
    background-color: white;
    
}
.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

input[type="search"] {
    background-color: rgb(227, 232, 239);
    width: 100%;
    height: 20px;
    border: none;
    border-radius: 20px;
}

ul {
    list-style-type: none;
}

body {
    display: grid;
    grid-template-areas: 
        "dash search"
        "dash hero"
        "dash main";
    grid-template-columns: 1fr 5fr;
}

.pCont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 10px;
    padding: 25px;
}